@import "tailwindcss";

/* Definición de Tokens Semánticos de la App */
:root {
  --color-brand-primary: #42C2C1;
  --color-brand-secondary: #0f172a;
  --color-surface-base: #F6F8FA;
  --color-text-main: #1e293b;
  --color-text-muted: #64748b;

  --font-display: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  --radius-custom: 1rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F8FA;
  color: #1e293b;
}